body{
  text-align: center;
}
img{
  padding: 20px;
}


#header{
  text-align: center;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-position: center;
  height: 620px;
  width: auto;
  color: white;
}
#header h1{
  font-size: 41px;
  padding: 300px;
}
#about-us{
  text-align: center;
  margin: auto;
  font-size: 20px;
}
#about-us h3{
font-family: 'Tienne', serif;
font-size: 44px;
margin-top: 4%;
}
#about-us p{
  margin-top:2%;
    font-family: 'Nunito',sans-serif;
}
#menu{
  text-align: center;
  float right: inherit;
  margin: auto;

}
#menu h3{
  font-family: 'Tienne', serif;
  font-size: 44px;
  margin-top: 4%;
}
#menu2 h3{
    font-size: 30px;
    margin-bottom: 8%;
}
#menu3 h3{
    font-size: 30px;
    margin-bottom: 8%;
}
#menu4 h3{
    font-size: 30px;
    margin-bottom: 8%;
}
.nav-pills li{
  float:none;
  display: inline-block;
  zoom:1;
font-size: 30px;
  font-family:'Nunito',sans-serif;
}
.nav-pills{
  text-align: center;
}
#thinks{
  text-align: center;
  margin: auto;
  font-size: 20px;
}
#thinks h3{
  font-family: 'Tienne', serif;
  font-size: 44px;
  margin-top: 4%;
}
#thinks p{
  margin-top:2%;
    font-family: 'Nunito',sans-serif;
    font-size: 26px;
}
#thinks h4{

}
#map{
  position: relative;
  height: 700px;
  z-index: 3;

}
#contact-us{
  position: absolute;
  background-color: #eee;
  height: 500px;
  width: 250;
  z-index:4;
border: 2px double grey;
  padding: 42px;
margin-top: 0px;
}
#footer{
  background-color: #37682e;
  width: auto;
  height: 115px;
margin-top: -99px;
text-align: center;
font-size: 20px;
}
#scroll{
  margin-top: 405px;
}
#header i{
  font-size: 30px;

}
#about-us{
  text-align: center;
  margin: 0px 8%;
}
#about-us h3{
  margin-top: 5%;
  font-size: 54px;

}
#about-us p{
  margin-top: 4%;
  font-size: 120%;

  }

  #team img{
    width: 250px;
    height: 250px;
    padding: 0px;
    border-radius: 50%;
    }
    #people-think{
      margin-bottom: 20px;
      padding: -11px;
      }
      #people-think h3{
        margin-top: 5%;
        font-size: 44px;
        font-family: 'Tienne', serif;
      }
      #people-think h4{
        font-size: 25px;
        font-family: 'Nunito',sans-serif;
      }
    #people-think p{
        font-size: 20px;

      }
      #people-think1 h3{
        font-size: 35px;
        font-family: 'Tienne', serif;

      }
